<div class="container">
  <div class="row">
    <div class="col">
      <h1>New task</h1>
      <%= simple_form_for(@task) do |f| %>
        <%= f.input :title %>
        <%= f.input :details %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
      <hr>
      <%= link_to tasks_path do %>
        <%= fa_icon "undo" %> Back to list
      <% end %>
    </div>
  </div>
</div>