<div class="container my-3">
  <div class="d-flex justify-content-between my-3">
      <h2><%= @task.title %></h2>
      <%= link_to edit_task_path(@task) do %>
        <button type="button" class="btn btn-outline-secondary">Edit</button>
      <% end %>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-secondary" role="alert">
        <p><%= @task.details %></p>
      </div>
      <% if @task.completed%>
          <p><%= fa_icon "check-square" %> This task is completed</p>
        <% else %>
          <p><%= fa_icon "square" %> This task is not completed</p>
        <% end %>
      <hr>
      <%= link_to "Back to list", tasks_path %>
    </div>
  </div>
</div>
