<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= @task.title %></h2>
      <div class="alert alert-secondary" role="alert">
        <p><%= @task.details %></p>
      </div>
      <% if @task.completed%>
          <p><%= fa_icon "check-square" %> This task is completed</p>
        <% else %>
          <p><%= fa_icon "square" %> This task is not completed</p>
        <% end %>
      <hr>
      <%= link_to "Back to list", tasks_path  %>
    </div>
  </div>
</div>
